html {
  height: 100%;
}

body {
  background-image: url('../../imagenesBase/main-fondo.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  width: 85%;
  padding: 15px;
  background-color: rgb(223, 222, 222);
  border-radius: 10px;
  margin: auto;
}
