.main {
  background-image: url('../../imagenesBase/main-fondo.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main .content {
  width: 80%;
  padding: 15px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  margin: auto;
}
