.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-container {
  overflow-y: scroll;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
