.search-container {
  position: relative;
}

.search-input {
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  width: 275px;
}

.search-input input {
  border: 0px;
  background-color: transparent;
  font-size: 18px;
  width: 88%;
}

.search-input input:focus {
  outline: none;
}

.autocomplete {
  position: absolute;
  background-color: white;
  top: 36px;
  left: 0;
  width: 291px;
  border: 1px solid gray;
  border-top: none;
  max-height: 250px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 2px 10px;
  cursor: pointer;
}
.autocomplete-item:hover {
  background-color: rgb(231, 230, 230);
}

.autocomplete-item + .autocomplete-item{
  border-top: 1px solid gray;
}
