header {
  width: 80%;
  padding: 15px;
  background: linear-gradient(#ffffff, #f0efef);
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: rgb(97, 93, 93);
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  color: rgb(97, 93, 93);
  font-weight: 600;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 25px;
}

.nav-button {
  font-size: 20px;
  cursor: pointer;
}

.cart-button {
  position: relative;
}

.notificacion {
  position: absolute;
  bottom: -8px;
  right: -8px;
  background-color: red;
  height: 18px;
  width: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notificacion span {
  font-size: 12px;
  color: white;
  font-weight: 500;
}
